In [48]:
import pandas as pd
import random
import numpy as np

In [3]:
a = pd.read_csv('da.csv')

In [4]:
a.iloc[:]

              Date            Time Resolution  Total Load
0       07-02-2022  23:45:00+01:00      PT15M         NaN
1       07-02-2022  23:30:00+01:00      PT15M         NaN
2       07-02-2022  23:15:00+01:00      PT15M         NaN
3       07-02-2022  23:00:00+01:00      PT15M         NaN
4       07-02-2022  22:45:00+01:00      PT15M         NaN
...            ...             ...        ...         ...
249115  01-01-2015  01:00:00+01:00      PT15M     9755.00
249116  01-01-2015  00:45:00+01:00      PT15M     9821.78
249117  01-01-2015  00:30:00+01:00      PT15M     9952.87
249118  01-01-2015  00:15:00+01:00      PT15M    10051.28
249119  01-01-2015  00:00:00+01:00      PT15M    10142.19

[249120 rows x 4 columns]

In [1]:
N_in = 168
gamma_se = 24 * 0 # 0, 24, 48, 72
p_se = 0.15
end = int(N_in - gamma_se)
start = int(end + 1 - N_in * p_se)
scaling_factor = 0.4 # or 2

In [6]:
start

143

In [7]:
end

168

In [8]:
a.iloc[start:end, 3]

143    10698.30
144    10639.02
145    10587.68
146    10409.10
147    10236.97
148    10253.52
149    10179.67
150    10048.91
151     9919.66
152     9751.10
153     9698.81
154     9498.99
155     9339.51
156     9097.44
157     9078.31
158     8998.48
159     8867.13
160     8876.67
161     8859.40
162     8770.34
163     8589.10
164     8613.30
165     8669.61
166     8535.08
167     8379.67
Name: Total Load, dtype: float64

In [9]:
ramp_rate = 1
# ne = 
# i = 
l_re = 0

In [28]:
a['Scaling_attack'] = a.iloc[:,3]
a['Scaling_attack'] = a.iloc[:,3]

In [29]:
# for i in range(start, end + 1):

a.iloc[start:end, 4] = a.iloc[start:end, 3] * scaling_factor

# for i in range(start, end + 1):
    
#     a.iloc[i, 5] = (1 + l_re * min(abs(i - start), abs(end-i))) * a.iloc[i, 3] 

# a['Scaling_attack'] = a['Total Load'].apply(lambda x : x * scaling_factor)
# a['Ramping_attack'] = a['Total Load'].apply(lambda x : 1 + x * scaling_factor)
# a.iloc[start:end,3] *= scaling_factor

In [31]:
a.to_csv('scaling_attack.csv', index = False)

In [22]:
b = pd.read_csv('scaling_attack.csv')

In [23]:
b['Ramping_attack'] = b.iloc[:,3]
b['RA_labels'] = 0

In [24]:
b

,Date,Time,Resolution,Total Load,Scaling_attack,SA_labels,Ramping_attack,RA_labels
0,07-02-2022,23:45:00+01:00,PT15M,NaN,NaN,0.0,NaN,0
1,07-02-2022,23:30:00+01:00,PT15M,NaN,NaN,0.0,NaN,0
2,07-02-2022,23:15:00+01:00,PT15M,NaN,NaN,0.0,NaN,0
3,07-02-2022,23:00:00+01:00,PT15M,NaN,NaN,0.0,NaN,0
4,07-02-2022,22:45:00+01:00,PT15M,NaN,NaN,0.0,NaN,0
...,...,...,...,...,...,...,...,...
249115,01-01-2015,01:00:00+01:00,PT15M,9755.00,9755.00,0.0,9755.00,0
249116,01-01-2015,00:45:00+01:00,PT15M,9821.78,9821.78,0.0,9821.78,0
249117,01-01-2015,00:30:00+01:00,PT15M,9952.87,9952.87,0.0,9952.87,0
249118,01-01-2015,00:15:00+01:00,PT15M,10051.28,10051.28,0.0,10051.28,0
249119,01-01-2015,00:00:00+01:00,PT15M,10142.19,10142.19,0.0,10142.19,0

In [28]:
l_re = 1 # 1
b.iloc[:-5 ,5]

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
249110    0.0
249111    0.0
249112    0.0
249113    0.0
249114    0.0
Name: SA_labels, Length: 249115, dtype: float64

In [31]:
b[start-3:end]


for i in range(start, end + 1):
    constt = (1 + l_re * min(abs(i - start), abs(end - i)))
    # print(constt)
    b.iloc[i, 6] = constt * b.iloc[i, 3] 
    b.iloc[i, 7] = 1

In [ ]:
l_de = 1.5
p_de = int(b.iloc[:].shape[0] * 0.15)
p_de

In [59]:
b['Random_attack'] = b.iloc[:, 3]
b['RAN_labels'] = 0

In [60]:
b.iloc[:].shape

(249120, 10)

In [68]:
x = set(random.sample(range(b.iloc[:].shape[0]), p_de))
len(x)

37368

In [69]:
for i in x:
    b.iloc[i, 8] = l_de * b.iloc[i, 3]
    b.iloc[i, 9] = 1

In [70]:
b

,Date,Time,Resolution,Total Load,Scaling_attack,SA_labels,Ramping_attack,RA_labels,Random_attack,RAN_labels
0,07-02-2022,23:45:00+01:00,PT15M,NaN,NaN,0.0,NaN,0,NaN,1
1,07-02-2022,23:30:00+01:00,PT15M,NaN,NaN,0.0,NaN,0,NaN,0
2,07-02-2022,23:15:00+01:00,PT15M,NaN,NaN,0.0,NaN,0,NaN,0
3,07-02-2022,23:00:00+01:00,PT15M,NaN,NaN,0.0,NaN,0,NaN,0
4,07-02-2022,22:45:00+01:00,PT15M,NaN,NaN,0.0,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...
249115,01-01-2015,01:00:00+01:00,PT15M,9755.00,9755.00,0.0,9755.00,0,14632.50,1
249116,01-01-2015,00:45:00+01:00,PT15M,9821.78,9821.78,0.0,9821.78,0,14732.67,1
249117,01-01-2015,00:30:00+01:00,PT15M,9952.87,9952.87,0.0,9952.87,0,9952.87,0
249118,01-01-2015,00:15:00+01:00,PT15M,10051.28,10051.28,0.0,10051.28,0,10051.28,0
249119,01-01-2015,00:00:00+01:00,PT15M,10142.19,10142.19,0.0,10142.19,0,10142.19,0

In [ ]:
b.to_csv('data_attacks.csv', index = False)

In [ ]:
b

In [32]:
b[start-3:end]

,Date,Time,Resolution,Total Load,Scaling_attack,SA_labels,Ramping_attack,RA_labels
140,06-02-2022,12:45:00+01:00,PT15M,10379.52,10379.520,0.0,10379.52,0
141,06-02-2022,12:30:00+01:00,PT15M,10557.77,10557.770,0.0,10557.77,0
142,06-02-2022,12:15:00+01:00,PT15M,10579.63,10579.630,0.0,10579.63,0
143,06-02-2022,12:00:00+01:00,PT15M,10698.30,4279.320,1.0,10698.30,1
144,06-02-2022,11:45:00+01:00,PT15M,10639.02,4255.608,1.0,21278.04,1
145,06-02-2022,11:30:00+01:00,PT15M,10587.68,4235.072,1.0,31763.04,1
146,06-02-2022,11:15:00+01:00,PT15M,10409.10,4163.640,1.0,41636.40,1
147,06-02-2022,11:00:00+01:00,PT15M,10236.97,4094.788,1.0,51184.85,1
148,06-02-2022,10:45:00+01:00,PT15M,10253.52,4101.408,1.0,61521.12,1
149,06-02-2022,10:30:00+01:00,PT15M,10179.67,4071.868,1.0,71257.69,1
150,06-02-2022,10:15:00+01:00,PT15M,10048.91,4019.564,1.0,80391.28,1
151,06-02-2022,10:00:00+01:00,PT15M,9919.66,3967.864,1.0,89276.94,1
152,06-02-2022,09:45:00+01:00,PT15M,9751.10,3900.440,1.0,97511.00,1
153,06-02-2022,09:30:00+01:00,PT15M,9698.81,3879.524,1.0,106686.91,1
154,06-02-2022,09:15:00+01:00,PT15M,9498.99,3799.596,1.0,113987.88,1
155,06-02-2022,09:00:00+01:00,PT15M,9339.51,3735.804,1.0,121413.63,1
156,06-02-2022,08:45:00+01:00,PT15M,9097.44,3638.976,1.0,118266.72,1
157,06-02-2022,08:30:00+01:00,PT15M,9078.31,3631.324,1.0,108939.72,1
158,06-02-2022,08:15:00+01:00,PT15M,8998.48,3599.392,1.0,98983.28,1
159,06-02-2022,08:00:00+01:00,PT15M,8867.13,3546.852,1.0,88671.30,1
160,06-02-2022,07:45:00+01:00,PT15M,8876.67,3550.668,1.0,79890.03,1
161,06-02-2022,07:30:00+01:00,PT15M,8859.40,3543.760,1.0,70875.20,1
162,06-02-2022,07:15:00+01:00,PT15M,8770.34,3508.136,1.0,61392.38,1
163,06-02-2022,07:00:00+01:00,PT15M,8589.10,3435.640,1.0,51534.60,1
164,06-02-2022,06:45:00+01:00,PT15M,8613.30,3445.320,1.0,43066.50,1
165,06-02-2022,06:30:00+01:00,PT15M,8669.61,3467.844,1.0,34678.44,1
166,06-02-2022,06:15:00+01:00,PT15M,8535.08,3414.032,1.0,25605.24,1
167,06-02-2022,06:00:00+01:00,PT15M,8379.67,3351.868,1.0,16759.34,1

In [4]:
import numpy as np

In [5]:
a = np.zeros(b.shape[0])
a[start:end] = 1

In [6]:
b['SA_labels'] = a

In [8]:
b.to_csv('scaling_attack.csv', index = False)

In [3]:
!conda install -c conda-forge tqdm

^C

In [4]:
import torch
import torchvision # torch package for vision related things
import torch.nn.functional as F  # Parameterless functions, like (some) activation functions
import torchvision.datasets as datasets  # Standard datasets
import torchvision.transforms as transforms  # Transformations we can perform on our dataset for augmentation
from torch import optim  # For optimizers like SGD, Adam, etc.
from torch import nn  # All neural network modules
from torch.utils.data import DataLoader  # Gives easier dataset managment by creating mini batches etc.
from tqdm import tqdm

In [5]:
model = nn.Sequential(
    nn.Linear(2, 50),
    nn.Linear(50, 50),
    nn.Linear(50, 1)
)

In [6]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [7]:
criterion = nn.L1Loss()
optim = optim.SGD(model.parameters(), lr = 0.01)

In [ ]:
class load_data(DataLoader):
      def __init__(self, csv_file, transform=None,attack='scaling'):
        """
        Args:
            csv_file (string): Path to the csv file with annotations.
            root_dir (string): Directory with all the images.
            transform (callable, optional): Optional transform to be applied
                on a sample.
        """
        self.dataset = pd.read_csv(csv_file)
        self.transform = transform
        self.attack=attack
      def __len__(self):
        return len(self.dataset)

      def __getitem__(self, idx):
        if self.attack=='scaling':
            c=5
        if self.attack=='ramping':
            c=7
        if self.attack=='random':
            c=9


        data= self.dataset.iloc[idx,c]
        label= self.dataset.iloc[idx,1+c]

        
        return (data,label)

In [ ]:
def run_me(model, data, params, criterion, optimizer):
    train_loader = data(data, batch_size = params['batch_size'], shuffle = True)
    num_epochs = 50
    
    for epoch in range(num_epochs):
        for batch_idx, (data, targets) in enumerate(tqdm(train_loader)):
            # Get data to cuda if possible
            data = data.to(device=device)
            targets = targets.to(device=device)

            # forward
            scores = model(data)
            loss = criterion(scores, targets)

            # backward
            optimizer.zero_grad()
            loss.backward()

            # gradient descent or adam step
            optimizer.step()
    
# def check_accuracy(loader, model):
    if loader.dataset.train:
        print("Checking accuracy on training data")
    else:
        print("Checking accuracy on test data")

    num_correct = 0
    num_samples = 0
    model.eval()

    with torch.no_grad():
        for x, y in loader:
            x = x.to(device=device).squeeze(1)
            y = y.to(device=device)

            scores = model(x)
            _, predictions = scores.max(1)
            num_correct += (predictions == y).sum()
            num_samples += predictions.size(0)

        print(
            f"Got {num_correct} / {num_samples} with accuracy  \
            {float(num_correct)/float(num_samples)*100:.2f}"
        )

    model.train()